
				<header>
					<h1 class="apple-font">Projects</h1>
				</header>
				<p>
					Here's a list of some of my favourite projects!
				</p>
				<section>
					<div class="row">

						<!--Project 1-->
						<div class="col-4 col-6-medium col-12-small ">
							<a href="{{url_for ('project1')}}" class="image fit ">
								<img src="/static/images/pic05.jpg" class="project-card" alt="">
								<div class="project-name">Project Name</div>

							</a>
						</div>
						<!--Project 2-->

						<div class="col-4 col-6-medium col-12-small ">
							<a href="{{url_for ('project2')}}" class="image fit">
								<img src="/static/images/pic05.jpg" class="project-card" alt="">
								<div class="project-name">Project Name</div>

							</a>
						</div>


						<!--Project 3-->
						<div class="col-4 col-6-medium col-12-small ">
							<a href="{{url_for ('project3')}}" class="image fit">
								<img src="/static/images/pic05.jpg" class="project-card" alt="">
								<div class="project-name">Project Name</div>

							</a>
						</div>


						<!--Project 4-->
						<div class="col-4 col-6-medium col-12-small ">
							<a href="{{url_for ('project4')}}" class="image fit">
								<img src="/static/images/pic05.jpg" class="project-card" alt="">
								<div class="project-name">Project Name</div>
							</a>
						</div>

						<!--Project 5-->
						<div class="col-4 col-6-medium col-12-small ">
							<a href="{{url_for ('project5')}}" class="image fit">
								<img src="/static/images/pic05.jpg" class="project-card" alt="">
								<div class="project-name">Project Name</div>

							</a>
						</div>
						<!--project 6-->
						<div class="col-4 col-6-medium col-12-small ">
							<a href="{{url_for ('project6')}}" class="image fit">
								<img src="/static/images/pic05.jpg" class="project-card" alt="">
								<div class="project-name">Project Name</div>
							</a>
						</div>




					</div>
				</section>





