<header>
	<h1 class="apple-font">Projects</h1>
</header>
<p>
	Here's a list of some of my favourite projects!
</p>
<section>
	<div class="row">

		{% if request.endpoint != 'project1' %}
		<div class="col-4 col-6-medium col-12-small ">
			<a href="{{url_for ('project1')}}" class="image fit ">

				<!--TODO: Add image url-->
				<img src="/static/images/audit.jpg" class="project-card" alt="">
				<div class="project-name">Desktop App</div>
			</a>
		</div>
		{% endif %}
		<!--Project 2-->

		{% if request.endpoint != 'project2' %}

		<div class="col-4 col-6-medium col-12-small ">
			<a href="{{url_for ('project2')}}" class="image fit">

				<!--TODO: Add image url-->
				<img src="/static/images/website.jpg" class="project-card image fit " alt="">
				<div class="project-name">Web App</div>

			</a>
		</div>
		{% endif %}


		<!--Project 3-->
		{% if request.endpoint != 'project3' %}
		<div class="col-4 col-6-medium col-12-small ">
			<a href="{{url_for ('project3')}}" class="image fit">

				<!--TODO: Add image url-->
				<img src="/static/images/pic05.jpg" class="project-card" alt="">
				<div class="project-name">Project 3</div>

			</a>
		</div>
		{% endif %}


		<!--Project 4-->
		{% if request.endpoint != 'project4' %}
		<div class="col-4 col-6-medium col-12-small ">
			<a href="{{url_for ('project4')}}" class="image fit">

				<!--TODO: Add image url-->
				<img src="/static/images/pic05.jpg" class="project-card" alt="">
				<div class="project-name">Project 4</div>
			</a>
		</div>
		{% endif %}

		<!--Project 5-->
		{% if request.endpoint != 'project5' %}
		<div class="col-4 col-6-medium col-12-small ">
			<a href="{{url_for ('project5')}}" class="image fit">

				<!--TODO: Add image url-->
				<img src="/static/images/pic05.jpg" class="project-card" alt="">
				<div class="project-name">Project 5</div>

			</a>
		</div>
		{% endif %}

		<!--project 6-->
		{% if request.endpoint != 'project6' %}
		<div class="col-4 col-6-medium col-12-small ">
			<a href="{{url_for ('project6')}}" class="image fit">

				<!--TODO: Add image url-->
				<img src="/static/images/pic05.jpg" class="project-card" alt="">
				<div class="project-name">Project 6</div>
			</a>
		</div>
		{% endif %}




	</div>
</section>